/*** ABOUT US ***/
.about__container {
    max-width: 1500px;
    margin: 1rem auto;
    width: 98%;
    aspect-ratio: 5 / 3;
}

/**** IMAGE GALLERY ****/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-gallery {
    position: relative;
    width: 100%;
    height: 100%;
}

.img-gallery-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.img-gallery-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
}

.img-gallery-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 2rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.img-gallery-btn:hover,
.img-gallery-btn:focus-visible {
  background-color: rgb(0, 0, 0, 0.2);
}

.img-gallery-btn > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}

.img-gallery-dot-btn {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.img-gallery-dot-btn:hover,
.img-gallery-dot-btn:focus-visible {
  scale: 1.2;
}

.img-gallery-dot-btn > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.img-gallery-dot-btn:focus-visible,
.img-gallery-btn:focus-visible {
  outline: auto;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus-visible {
  top: 0;
  left: 0;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  width: auto;
  height: auto;
  margin: 0;
  clip: unset;
  text-decoration: none;
  color: black;
  z-index: 100;
}

div.arrow--left {
	width: 2vmin;
	height: 2vmin;
	box-sizing: border-box;
	position: absolute;
	right: 50%;
	top: 50%;
	transform: rotate(-135deg);
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .2vmin .2vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
        position: relative;
        top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 0.2vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: #5f0c9e;
		height: 120%;
	}
	&:hover::before {
		border-color: #5f0c9e;
		transform: scale(0.8);
		
	}
	
}

div.arrow--right {
	width: 2vmin;
	height: 2vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: rotate(45deg);
	
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .2vmin .2vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	&:after {
		content: '';
		float: left;
        position: relative;
        top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 0.2vmin 0 0;
		border-style: solid;
		border-color: #fafafa;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	&:hover::after {
		transform: rotate(45deg);
		border-color: #5f0c9e;
		height: 120%;
	}
	&:hover::before {
		border-color: #5f0c9e;
		transform: scale(0.8);
		
	}
	
}

@media not (prefers-reduced-motion) {
  .img-gallery-img {
    transition: translate 300ms ease-in-out;
  }

  .img-gallery-btn:hover > *,
  .img-gallery-btn:focus-visible > * {
    animation: squish 200ms ease-in-out;
  }
}


/**** MISSION PARAGRAPHS ****/
.AboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden !important;
}

.about__mission-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem 0rem 0rem;
  padding: 0.1rem;
  width: 100%;

  @media (max-width: 768px) {
    gap: 0.5rem 0rem 0rem;
  }
}

.about__mission-header {
  font-family: "Major Mono Display", monospace;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
  
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.about__mission-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem 0rem 0rem;
    padding: 0.1rem;
    width: 100%;

    @media (max-width: 768px) {
      gap: 0.5rem 0rem 0rem;
    }
}

.about__mission-paragraph {
    font-family: 'Roboto Mono', sans-serif;
    max-width: 80%;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 0.75rem;
    }
}

.about__mission-image {
    z-index: -1;
    position: absolute;
    border-radius: 0%;
    overflow: hidden;
    @media (max-width: 768px) {
        display: none; 
    }
    img {
      height: 40%;
      width: 40%;
      border-radius: 5%;
    }
}

/**** JOURNEY PARAGRAPHS ****/
.about__journey-header {
  font-family: "Major Mono Display", monospace;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.about__journey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem 0rem 0rem;
  padding: 0.1rem;
  width: 100%;

  @media (max-width: 768px) {
    gap: 0.5rem 0rem 0rem;
  }
}

.about__journey-paragraph {
  font-family: 'Roboto Mono', sans-serif;
  max-width: 80%;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

.about__journey-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem 0rem 0rem;
  padding: 0.1rem;
  width: 100%;

  @media (max-width: 768px) {
    gap: 0.5rem 0rem 0rem;
  }
}

.about__journey-image {
  z-index: -1;
  position: absolute;
  border-radius: 0%;
  overflow: hidden;
  @media (max-width: 768px) {
      display: none; 
  }
  img {
    height: 40%;
    width: 40%;
    border-radius: 5%;
  }
}

/**** JOIN US PARAGRAPHS ****/

.about__join-header {
  font-family: "Major Mono Display", monospace;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.about__join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem 0rem 0rem;
  padding: 0.1rem;
  width: 100%;

  @media (max-width: 768px) {
    gap: 0.5rem 0rem 0rem;
  }
}

.about__join-paragraph {
  font-family: 'Roboto Mono', sans-serif;
  max-width: 80%;
  text-align: center;
  
  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

.about__join-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem 0rem 0rem;
  padding: 0.1rem;
  width: 100%;

  @media (max-width: 768px) {
    gap: 0.5rem 0rem 0rem;
  }
}

.about__join-image {
  z-index: -1;
  position: absolute;
  border-radius: 0%;
  overflow: hidden;
  @media (max-width: 768px) {
      display: none; 
  }
  img {
    height: 40%;
    width: 40%;
    border-radius: 5%;
  }
}