.SBContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #5f0c9e;
    height: 80vh;
}

.SBContainer__title {
    width: 80%;
    text-align: center;
}

.SBContainer__title-text {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 2rem;
    font-style: thin;
    font-weight: 100;
    color: #5f0c9e;
}

.SBContainer__formation {
    position: relative;
    margin-bottom: 4em;
    text-align: center;
    flex-direction: column;
    margin-top: 2em;
}

.SBContainer__dropdown {
    position: relative;
    display: inline-block;
}

.SBContainer__dropdown-button {
    color: #5f0c9e;
    background-color: rgb(255, 255, 255);
    border: #5f0c9e 1px solid;
    border-radius: 5px;
    font-style: thin;
    font-weight: 300;
    font-family: "Roboto";
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    text-align: left;

}

.SBContainer__dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: #5f0c9e 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}

.SBContainer__dropdown-item {
    color: #5f0c9e;
    background-color: rgb(255, 255, 255);
    font-style: thin;
    font-weight: 300;
    font-family: "Roboto";
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.SBContainer__dropdown-item:hover {
    background-color: #f0f0f0;
}

.SBContainer__pitch {
    display: flex;
    flex-direction: column;
    align-items: center;
}