.SBContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80vh;
    position: relative;
}

.SBContainer__formation {
    position: relative;
    margin-bottom: 4em;
    text-align: center;
    flex-direction: column;
    margin-top: 2em;
}

.SBContainer__dropdown {
    position: relative;
    display: inline-block;
}

.SBContainer__dropdown-button {
    color: #5f0c9e;
    background-color: rgb(255, 255, 255);
    border: #5f0c9e 1px solid;
    border-radius: 5px;
    font-style: thin;
    font-weight: 300;
    font-family: "Roboto";
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.SBContainer__dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: #5f0c9e 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}

.SBContainer__dropdown-item {
    color: #5f0c9e;
    background-color: rgb(255, 255, 255);
    font-style: thin;
    font-weight: 300;
    font-family: "Roboto";
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.SBContainer__dropdown-item:hover {
    background-color: #f0f0f0;
}

.SBContainer__toggle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #5f0c9e;
    border: #5f0c9e 1px solid;
    padding: 0.5rem 0.25rem;
    height: 160px;
    background-color: transparent;

    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl; /* Rotate text */
    text-orientation: upright; /* Rotate text */
}

.SBContainer__toggle-button.left {
    border-radius: 0px 5px 5px 0px;
    left: 0;
}

.SBContainer__toggle-button.right {
    border-radius: 5px 0px 0px 5px;
    right: 0;
}

.SBContainer__sides {
    display: flex;
    justify-content: space-between;
    width: 100vw; /* Full viewport width */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Allow pitch interactions */
}

.SBContainer__substitutes,
.SBContainer__reserves {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20vw; /* Adjust width as needed */
    pointer-events: all; /* Enable interactions */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.SBContainer__substitutes {
    justify-content: flex-start;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.SBContainer__substitutes.open {
    opacity: 1;
}

.SBContainer__reserves {
    justify-content: flex-end;
    opacity: 0;
    transition: 0.3s ease-in-out;
    right: 0;
}

.SBContainer__reserves.open {
    opacity: 1;
}