.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background: #9b0382; /* change the color to purple */
    z-index: 1000;
  }
  
  .logo {
    height: 50px;
    color: white;
  }
  
  .team-name {
    color: rgb(0, 0, 0);
    margin: 0;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Clearing floats */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main level */
.menu {     
  display: flex;
  justify-content: flex-end;
  margin: 1px auto;
  margin-right: 80px;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu > li {
  background: #9b0382;
  position: relative;
  transform: skewX(25deg);
}

.menu a {
  color: black;
  display: block;
  text-decoration: none;
}

.menu li:hover {
  background: #420538;
  color: white;
}   

.menu > li > a {
  transform: skewX(-25deg);
  padding: 1em 2em;
}

.menu > li > a:hover {
    color: white;
    transform: skewX(-25deg);
    padding: 1em 2em;
  }

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
}

.submenu li {
  background-color: #420538;
  position: relative;
  overflow: hidden;   
}           

.submenu > li > a {
  padding: 1em 2em;     
}

.submenu > li > a:hover {
    color:white    
  }

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;      
  box-shadow: 0 0 50px rgba(0, 0, 0, .9);     
}   

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}       

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;     
}

.submenu li {
  transition: .2s ease transform;
}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
}   

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);     
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);     
}